
.upperBar {
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(226, 155, 0);
    display: flex;
    position:fixed;
    padding-left: 14%;
    padding-right: 20%;

    &__title {
        color: white;
        font-size: 35px;
    }

    &__buttons {
        display: flex;
        flex: 1;
        margin-left: 40%;

        &__button{
            color: white;
            background-color: rgb(190, 124, 0);
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 10px;
            padding: 5px;
            border-style: none;
            width: 100px;
        }

        &__cartButton {
            color: white;
            background-color: rgb(190, 124, 0);
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 10px;
            padding: 4px;
            border-style: none;
            width: 150px;
        }

        &__cartButton:hover {
            cursor: pointer;
            background-color: rgb(124, 81, 0);
        }

        &__button:hover{
            cursor: pointer;
            background-color: rgb(124, 81, 0);
        }
    }

    &__counter {
        background-color: red;
        color:white;
        font-size: 12px;
        float: right;
        padding: 5px;
    }

    &__cartIcon {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    &__cart {
        z-index: 2;
        position: absolute;
        width: 400px;
        background-color: aliceblue;
        margin-top: 70px;
        padding: 10px;
        max-height: 400px;
        border-radius: 15px;

        &__item {
            background-color: bisque;
            margin-top: 5px;
            padding: 10px;
        }

        &__totalPrice {
            float:left;
            font-size: 20px;
            margin-top: 15px;
        }

        &__submit {
            float: left;
            margin-left: 70px;
            margin-top:10px;
            padding: 9px;
            width: 90px;
            font-size: 18px;
            color:white;
            background-color: rgb(155, 116, 44);
            border-style: none;
        }

        &__submit:hover {
            cursor: pointer;
            background-color: rgb(124, 81, 0);
        }
    }

    
}